<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
    Cart <span class="badge bg-secondary">{{cartItems.length}}</span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li *ngIf="cartItems.length === 0"><a class="dropdown-item"><em>Your cart is empty.</em></a></li>
    <li *ngFor="let cartItem of cartItems">
      <a class="dropdown-item">
        <span class="badge bg-secondary">{{cartItem.quantity}}</span> 
        {{cartItem.product.productName}} 
        <span (click)="removeFromCart(cartItem)" class="badge bg-danger">Remove</span>
      </a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item">Go to cart</a></li>
  </ul>
</li>
